footer.main-footer(role="contentinfo" itemscope itemtype="http://schema.org/WPFooter")
  .ed-container
    .ed-item.m-50.s-to-center.s-center
      p.s-mb-1 Todos los derechos reservados © 2019
      p.s-mb-0 Por
        a(href="#" target="_blank").s-pl-1 Irvin Burgos
