header.main-header(itemscope itemtype="http://schema.org/WPHeader")
  .ed-grid.s-grid-5.lg-grid-4
    .s-cols-4.lg-cols-1.s-cross-center
      a(href="/")
        span.main-logo EDboilerplate
    .s-cols-1.lg-cols-3.s-main-end.s-cross-center
      include /includes/main-menu
