-let pageTitle = 'Inicio'
-let siteName = 'EDboilerplate'
-let pageDescription = 'Es una sencilla estructura para un proyecto web estático'
-let ogUrl = '/index.html'
-let twitterAccount = ''
-let image = 'https://www.ejemplo.com/assets/img/'
-let bannerTitle = ''
-let bannerDescription = ''
-let bannerButton = ''
-let bannerButtonUrl = ''
-let bannerButtonClass = ''
-let bannerButtonText = ''
-let bannerButtons = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Sobre nosotros',
      url: '#',
      child: []
    },
    {
      title: 'Servicios',
      url: '#',
      child: []
    },
    {
      title: 'Contacto',
      url: '#',
      child: []
    }
  ]
