/*********************************************************************
**********************************************************************
***************************IMAGES*************************************
**********************************************************************
**********************************************************************/

@function img($img) {
  @return url(#{$images-path}/#{$img});
}

/*********************************************************************
**********************************************************************
***************************FONT SIZES*********************************
**********************************************************************
**********************************************************************/

$fontSizes : (
  title1  : var(--h1-font-size),
  title2  : var(--h2-font-size),
  title3  : var(--h3-font-size),
  normal  : var(--normal-font-size),
  small   : var(--small-font-size),
  smaller : var(--smaller-font-size)
);

// Get font size from map
@function fontSize($size) {
  @if map-has-key($fontSizes, $size) {
    @return map-get($fontSizes, $size)
  } @else {
    @error '$size is not valid, valid values are title1, title2, title3, normal, small, smaller'
  }
};
